$darkBlue: #1F2041;
$purple: #4B3F72;
$yellow: #FFC857;
$lightBlue: #119DA4;
$turquoise: #19647E;

%radius {
  border-radius: 10px;
}

%gameButton {
  @extend %radius;
  margin-left: 1rem;
  padding: 1rem;
  border: none;
  }

%menuDivs {
  text-align: center;
  height: 100%;
  width: 55%;
  margin: auto;

  h1 {
    padding-top: 3rem;
  }
  button {
    margin-bottom: 1.5rem;
  }
}

nav {
  button {
    @extend %gameButton;
    background-color: $darkBlue;
    color: white;
    // border: none;
  }

  img {
    padding: 2rem;
  }

  .player-info {
    @extend %radius;
    float: right;
    padding: 2rem;
    margin: 1rem;
    border: 4px solid black;
  }
}

.menu {
  // display: none;
  @extend %radius;
  @extend %menuDivs;
  z-index: 10000;
  background-color: $lightBlue;

  h3 {
    border-bottom: 2px solid $yellow;
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 10px;
  }

  button {
    @extend %gameButton;
    margin-top: 3rem;
    background-color: $yellow;
  }
  input {
    margin-right: 10px;
  }
}

.rules {
  @extend %radius;
  @extend %menuDivs;
  background-color: $purple;
  display: none;

  h1 {
    color: $yellow;
  }

  button {
    @extend %gameButton;
    background-color: $yellow;
  }

  .ruleInfo {
    @extend %radius;
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: bold;
  }
}
