$darkBlue: #1F2041;
$purple: #4B3F72;
$yellow: #FFC857;
$lightBlue: #119DA4;
$turquoise: #19647E;

%radius {
  border-radius: 10px;
}

%gameButton {
  @extend %radius;
  margin-left: 1rem;
  padding: 1rem;
  }

%menuDivs {
  text-align: center;
  height: 110vh;
  width: 55%;
  margin: auto;
}

nav {
  button {
    @extend %gameButton;
    background-color: $darkBlue;
    color: white;
    border: none;
  }

  img {
    padding: 2rem;
    text-align: left !important;
  }

  .player-info {
    @extend %radius;
    float: right;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid black;
  }
}

.menu {
  @extend %radius;
  @extend %menuDivs;
  z-index: 10000;
  background-color: $lightBlue;

  h1 {
    width: 40rem;
    margin: auto;
    padding-top: 3rem;
  }

  h3 {
    border-bottom: 2px solid $yellow;
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 10px;
  }

  button {
    @extend %gameButton;
    margin-top: 3rem;
    background-color: $yellow;
  }
  input {
    margin-right: 10px;
  }
}
