nav button, .menu button, nav .player-info, .menu, .rules {
  border-radius: 10px; }

nav button, .menu button {
  margin-left: 1rem;
  padding: 1rem; }

.menu, .rules {
  text-align: center;
  height: 110vh;
  width: 55%;
  margin: auto; }

nav button {
  background-color: #1F2041;
  color: white;
  border: none; }

nav img {
  padding: 2rem; }

nav .player-info {
  float: right;
  padding: 2rem;
  margin: 1rem;
  border: 4px solid black; }

.menu {
  display: none;
  z-index: 10000;
  background-color: #119DA4; }
  .menu h1 {
    width: 40rem;
    margin: auto;
    padding-top: 3rem; }
  .menu h3 {
    border-bottom: 2px solid #FFC857;
    width: 90%;
    margin: 2rem auto;
    padding-bottom: 10px; }
  .menu button {
    margin-top: 3rem;
    background-color: #FFC857;
    border: none; }
  .menu input {
    margin-right: 10px; }

.rules {
  background-color: #4B3F72; }
  .rules h1 {
    color: #FFC857; }
